h4.title { margin-bottom: 10px; }

fieldset.prototype { padding: 10px 20px; }
fieldset.prototype.top { height: 500px; }
fieldset.prototype.bottom { height: 128px; }

.prototype div:not(.testarea) { height: 100%; }
.prototype div.testarea { padding: 10px; border: 1px solid Transparent; cursor: default; }
.prototype textarea { resize: none; height: 100%; width: 100%; overflow-y: scroll; }
