h4.title { margin-bottom: 10px; }

fieldset.prototype { padding: 10px 20px; }
fieldset.prototype.editor { height: 460px; }
fieldset.prototype #area, fieldset.prototype #Markup { max-height: 460px; overflow: auto; }
fieldset.prototype #Markup { display: none; }
fieldset.prototype.revisions { height: 500px; }
fieldset.prototype.bottom { height: 128px; }

.prototype div { border: 1px solid Transparent; cursor: default; overflow: auto; }
.prototype div.testarea:hover,.prototype .cke_focus  { outline: -webkit-focus-ring-color auto 5px; }
.prototype textarea { resize: none; height: 100%; width: 100%; overflow-y: scroll; }
.prototype #changes { height: 99%; width: 99%; overflow-y:scroll; list-style-type: none; padding: 0; margin: 0; border: 1px solid #c0c0c0; }
.prototype #changes li { displa: block; padding: 5px; }

#tabs { list-style-type: none; padding: 0; margin: 0 2px; border-left: 1px solid #c0c0c0; border-right: 1px solid #c0c0c0; border-bottom: 1px solid #c0c0c0; clear: both; min-height: 38px; }
#tabs li { float: left; display: block; }
#tabs li:not(.last) { border-right: 1px solid #c0c0c0; }
#tabs li a { display: block; font-size: 16px; height: 16px; line-height: 16px; padding: 11px 10px; }
#tabs li a:hover, #tabs li a.active { background-color: #c0c0c0; }
#tabs li .controls { padding: 10px 5px;}

pre {
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-family: sans-serif;
	font-size: 16px;
	white-space: pre-line;                 /* CSS3 browsers  */
	white-space: -moz-pre-line !important; /* 1999+ Mozilla  */
	white-space: -pre-line;                /* Opera 4 thru 6 */
	white-space: -o-pre-line;              /* Opera 7 and up */
	word-wrap: break-word;                 /* IE 5.5+ and up */
	/* overflow-x: auto; */                /* Firefox 2 only */
	/* width: 99%; */
}

.CT-hide .del, .CT-hide .del {
	display: none;
}

.CT-hide .ins, .CT-hide .ins {
	background: none !important;
	border: none !important; 
	text-decoration: none !important;
	color: inherit !important;
}

.del {
	text-decoration: line-through;
	color: red;
}
.ins {
	text-decoration: underline;
    color: green;
}
.cts-2 {
    color: #C02000;
}

.cts-3 {
    color: #004090;
}

.cts-4 {
    color: #F06000;
}

.cts-5 {
    color: purple;
}

.cts-6 {
    color: #801080;
}

.cts-7 {
		color: #1080B0;
}

.ice-avoid {
	color: red;
}

